{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'account/css/auth.css' %}">
<div class="auth-container">
  <div class="auth-card">
    <h2>Iniciar Sesión</h2>
    <form method="post">
      {% csrf_token %}
      {% if next %}
        <input type="hidden" name="next" value="{{ next }}">
      {% endif %}
      <label for="id_username">Nombre de usuario</label>
      {{ form.username }}
      <label for="id_password">Contraseña</label>
      {{ form.password }}
      <button type="submit">Entrar</button>
    </form>
    <p>¿No tienes cuenta? <a href="{% url 'register' %}">Regístrate</a></p>
  </div>
</div>
{% endblock %}